<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="public/css/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
    script(src="public/js/script.js", defer)
  body
    .grid-container
      .menu-icon
        span &#9776;
      header.header
        .header__search Search...
        .header__avatar Your face
      aside.sidenav
        .sidenav__close-icon
          span X
        ul.sidenav__list
          li.sidenav__list-item Item One
          li.sidenav__list-item Item Two
          li.sidenav__list-item Item Three
          li.sidenav__list-item Item Four
          li.sidenav__list-item Item Five
      main.main
        .main-header
          .main-header__heading Hello User
          .main-header__updates Recent Items
        .main-overview
          .overviewcard
            .overviewcard__icon Overview
            .overviewcard__info Card
          .overviewcard
            .overviewcard__icon Overview
            .overviewcard__info Card
          .overviewcard
            .overviewcard__icon Overview
            .overviewcard__info Card
          .overviewcard
            .overviewcard__icon Overview
            .overviewcard__info Card
        .main-cards
          .card Card
            .chart-header
              h2 Chart
              div
                canvas(id="myChart")
          .card Card
          .card Card
      footer.footer
        .footer__copyright &copy; 2018 MTH
        .footer__signature Made with love by pure genius